Backend/RAG Portal.json
{
  "name": "PDF + TXT Extract and Pinecone Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -64
      ],
      "id": "0feda460-3775-45f2-8284-f3fce0c93382",
      "name": "Webhook",
      "webhookId": "58932549-5c7b-4080-8187-befcb97dd153"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file0",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1280,
        -64
      ],
      "id": "637c5200-c9f9-4a9f-909c-cbadd394cb5d",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aisdr",
          "mode": "list",
          "cachedResultName": "aisdr"
        },
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -928,
        -64
      ],
      "id": "52d7eff3-7473-4270-98a8-a87fe9682c33",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "O81etsD5UPh1icu2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -880,
        96
      ],
      "id": "ebf6bd6a-c231-41dd-b561-7136f58a4e2b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        400
      ],
      "id": "521fee9c-9794-4f73-9989-f4c267328851",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "g3RIMm29hvfDVdvv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get full text from previous node\nconst text = $json[\"text\"];\n\n// Define chunk size (characters)\nconst chunkSize = 800;\n\nconst chunks = [];\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({ json: { text: text.slice(i, i + chunkSize) } });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -64
      ],
      "id": "76b48f37-7529-407b-866d-cc33403dd5e9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "separator": "\\n\\n",
        "chunkSize": 800,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "id": "646713e7-500e-46b4-a79e-db4920082c91",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f12c2f40-0856-4186-a99a-64698c00e658",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b84564547c7d715869f374d080912329664c65e6aac413388ae6c1966629a9"
  },
  "id": "YmcqquThLPxFpyFW",
  "tags": []
}